<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand">Ты опять выходишь в эфир подлец?</span>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Ищи" aria-label="На" autofocus>
    </form>
</nav>
{{outlet}}